<h2 mat-dialog-title>Crear Producto</h2>

<form [formGroup]="this.productoForm" (ngSubmit)="this.crearProducto()">

    <div mat-dialog-content>

        <mat-form-field appearance="outline" class="input-width-full">
            <mat-label>Codigo Barra</mat-label>
            <input matInput type="number" formControlName="barcode">
            <mat-error *ngIf="this.productoForm.controls.barcode.invalid">Campo requerido.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-width-full">
            <mat-label>Producto</mat-label>
            <input matInput type="text" formControlName="name">
            <mat-error *ngIf="this.productoForm.controls.name.invalid">Campo requerido.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-width-full">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="category" (selectionChange)="this.cambiaCategoria()">
                <mat-option value="PASTELERIA">PASTELERIA</mat-option>
                <mat-option value="PANADERIA">PANADERIA</mat-option>
                <mat-option value="ABARROTES">ABARROTES</mat-option>
                <mat-option value="VERDURERIA">VERDURERIA</mat-option>
                <mat-option value="FIAMBRERIA">FIAMBRERIA</mat-option>
            </mat-select>
            <mat-error *ngIf="this.productoForm.controls.category.invalid">Campo requerido.</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="!this.abarrotes" appearance="outline" class="input-width-full">
            <mat-label>Kilo</mat-label>
            <input matInput type="number" formControlName="kilo">
            <mat-error *ngIf="this.productoForm.controls.kilo.invalid">Campo requerido.</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="this.abarrotes" appearance="outline" class="input-width-full">
            <mat-label>Precio</mat-label>
            <input matInput type="number" formControlName="precio">
            <mat-error *ngIf="this.productoForm.controls.precio.invalid">Campo requerido.</mat-error>
        </mat-form-field>

    </div>

    <div mat-dialog-actions class="pull-right">
        <button mat-mini-fab color="warn" [matDialogClose]="false">
          <mat-icon>close</mat-icon>
        </button>
        <span class="separacion"></span>
        <button mat-mini-fab color="primary" [disabled]="this.productoForm.invalid" type="submit">
          <mat-icon>check</mat-icon>
        </button>
    </div>

</form>
