<h2 mat-mat-dialog-title>Confirmar</h2>

<div mat-dialog-content>
    <p>Seguro desea realizar esta accion?</p>
</div>

<div mat-dialog-actions class="pull-right">
    <button mat-mini-fab color="warn" [mat-dialog-close]="false">
    <mat-icon>close</mat-icon>
  </button>
    <span class="separacion"></span>
    <button mat-mini-fab color="primary" [mat-dialog-close]="true">
    <mat-icon>check</mat-icon>
  </button>
</div>
