<mat-toolbar color="accent">
    <button mat-icon-button color="accent" (click)="this.abrirMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <h4>Don Rafael</h4>

    <span class="spacer"></span>

    <div class="dropdown">
        <button mat-icon-button data-bs-toggle="dropdown" data-bs-display="static">
          <mat-icon>person</mat-icon>
        </button>

        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <div class="cuadro-perfil-content">

                    <img src="../../../../assets/layout/user.jpeg" alt="">
                    <h4>{{ this.mainService.usuario[0].nombre | uppercase }}</h4>
                    <h5>{{ this.mainService.usuario[0].usuario }}</h5>

                </div>
                <div class="cuadro-perfil-footer">
                    <button mat-mini-fab color="primary">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <span class="separacion"></span>
                    <button mat-mini-fab color="accent" [routerLink]="['/login']">
                      <mat-icon>exit_to_app</mat-icon>
                    </button>
                </div>
            </li>
        </ul>

    </div>



</mat-toolbar>
