.spacer {
    flex: 1 1 auto;
}

mat-toolbar h4 {
    font-size: 28px;
    font-weight: 900;
}

mat-icon {
    color: #fcf1da;
}

.dropdown-menu {
    padding: 0;
    margin-top: 10px;
    transition: 0.3s;
}

.cuadro-perfil-content {
    width: 300px;
    background: #977b60;
    color: #fcf1da;
    padding: 10px;
    text-align: center;
}

.cuadro-perfil-footer {
    background: #fcf1da;
    text-align: center;
    padding: 20px;
}

.cuadro-perfil-content img {
    margin-top: 30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.cuadro-perfil-content h4 {
    color: #fcf1da;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 900;
}

.cuadro-perfil-content h5 {
    color: #fcf1da;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 12px;
}

.perfil {
    top: 60px;
    left: 500px;
    background: crimson;
    width: 300px;
    height: 300px;
}