<div mat-dialog-title>
  <h1>Detalle Venta</h1>
</div>

<div mat-dialog-content>

  <table mat-table [dataSource]="this.dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef>Cantidad</th>
      <td mat-cell *matCellDef="let row">{{ row.cantidad }}</td>
    </ng-container>

    <ng-container matColumnDef="precio">
      <th mat-header-cell *matHeaderCellDef>Precio</th>
      <td mat-cell *matCellDef="let row">{{ row.precio }}</td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let row">{{ row.precio * row.cantidad }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="this.columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: this.columnas"></tr>
  </table>
  
</div>

<div mat-dialog-actions class="spacer-end">
  <button mat-mini-fab color="warn" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
