<div class="container top-container">
  <mat-toolbar color="accent" class="spacer-between">
    <span>Codigos de Barra</span>
    <!-- <button mat-icon-button (click)="this.print()"> -->
    <button mat-icon-button [useExistingCss]="true" printSectionId="print-section" ngxPrint (click)="this.print()">
      <mat-icon>print</mat-icon>
    </button>
  </mat-toolbar>

  <div class="div-botones">
    <button mat-raised-button color="primary" (click)="this.buscar('PASTELERIA')">Pasteleria</button>
    <span class="separacion"></span>
    <button mat-raised-button color="primary" (click)="this.buscar('PANADERIA')">Panaderia</button>
    <span class="separacion"></span>
    <button mat-raised-button color="primary" (click)="this.buscar('FIAMBRERIA')">Fiambreria</button>
    <span class="separacion"></span>
    <button mat-raised-button color="primary" (click)="this.buscar('VERDURERIA')">Verduderia</button>
  </div>

  <div id="print-section" class="div-codigos">
    <table>
      <tr *ngFor="let row of this.tabla">
        <td *ngFor="let producto of row">
          <div class="codigo">
            <ngx-barcode bc-element-type="img" [bc-value]="producto.barcode" [bc-display-value]="false" [bc-height]="50" [bc-font-size]="22"></ngx-barcode>
            <span class="nombre-codigo">{{ producto.barcode }}</span>
            <span class="nombre-codigo">{{ producto.name }}</span>
          </div>
        </td>
      </tr>
    </table>
  </div>


</div>
