@media screen {
  .div-botones {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }

  .div-codigos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0;
  }

  .codigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    width: 250px;
    height: 250px;
  }
}

@media print {
  .div-botones {
    display: none;
  }

  mat-toolbar {
    display: none;
  }

  mat-toolbar mat-accent mat-toolbar-single-row {
    display: none;
  }

  .div-codigos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .codigo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .nombre-codigo {
    font-size: 10px;
  }
}

