<div mat-dialog-title>
  <h2>Crear Caja</h2>
</div>

<form [formGroup]="this.cajaForm" (ngSubmit)="this.crearCaja()">

  <div mat-dialog-content>

    <mat-form-field appearance="outline" class="input-width-full">
      <mat-label>Vendedor</mat-label>
      <mat-select formControlName="vendedor">
        <mat-option *ngFor="let vendedor of vendedores" [value]="vendedor">{{ vendedor.nombre }}</mat-option>
      </mat-select>
      <mat-error *ngIf="this.cajaForm.controls.vendedor.invalid">Campo Requerido.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-width-full">
      <mat-label>Fondo</mat-label>
      <input matInput type="number" formControlName="fondo"/>
      <mat-error *ngIf="this.cajaForm.controls.fondo.invalid">Campo Requerido.</mat-error>
    </mat-form-field>
    
  </div>

  <mat-dialog-actions class="spacer-end">
    <button mat-mini-fab color="warn" [matDialogClose]="false">
      <mat-icon>close</mat-icon>
    </button>
    <span class="separacion"></span>
    <button mat-mini-fab color="primary" type="submit" [disabled]="this.cajaForm.invalid">
      <mat-icon>check</mat-icon>
    </button>
  </mat-dialog-actions>
  
</form>
