<mat-toolbar color="accent" class="flex-container">
  <span class="spacer"></span>
  <mat-form-field appearance="legacy" class="input-full-width">
    <input
      matInput
      type="text"
      class="input-search-productos"
      (keyup)="this.aplicarFiltro($event)"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <span class="spacer"></span>
  <button mat-icon-button (click)="this.recargar()">
    <mat-icon>refresh</mat-icon>
  </button>
  <button mat-icon-button (click)="this.exportarExcel()">
    <mat-icon>download</mat-icon>
  </button>
  <button mat-icon-button (click)="this.crearProducto()">
    <mat-icon>add</mat-icon>
  </button>
</mat-toolbar>

<div class="contenedor">
  <table mat-table [dataSource]="this.dataSource" matSort>
    <ng-container matColumnDef="barra">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Codigo Barras</th>
      <td mat-cell *matCellDef="let row">{{ row.barcode }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="name">Producto</th>
      <td mat-cell *matCellDef="let row">{{ row.name }}</td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
      <td mat-cell *matCellDef="let row">{{ row.category }}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let row; let i = index">
        <button
          mat-mini-fab
          color="primary"
          (click)="this.modificarProducto(row)"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <span class="separacion"></span>
        <button mat-mini-fab color="accent">
          <mat-icon>view_quilt</mat-icon>
        </button>
        <span class="separacion"></span>
        <button
          mat-mini-fab
          color="warn"
          (click)="this.eliminarProducto(row.id)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="this.columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: this.columnas"></tr>
  </table>

  <mat-paginator
    class="paginator"
    [pageSize]="15"
    [pageSizeOptions]="[5, 10, 15]"
  ></mat-paginator>

  <div *ngIf="this.cargando" class="contenedor-spinner">
    <mat-spinner
      mode="indeterminate"
      color="accent"
      diameter="150"
    ></mat-spinner>
  </div>
</div>
