.flex-container {
    display: flex;
    justify-content: center;
}

.input-full-width {
    width: 50%;
}

.input-search-productos {
    text-align: center;
}

.contenedor,
.contenedor-spinner {
    width: 80vw;
    max-height: 80vh;
    height: 80vh;
    margin: 30px auto;
    box-shadow: 1px 10px 50px #aaaaaa;
}

.contenedor-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

table,
.paginator {
    width: 90%;
    margin: 10px auto;
}
