<main>
    <div class="wrapper">
        <form [formGroup]="loginForm" (ngSubmit)="this.login()">
            <img src="../../../assets/login/logo.png" alt="">
            <input type="text" name="usuario" formControlName="usuario"><br>
            <input type="password" name="clave" formControlName="clave"><br>
            <input [ngClass]="{'disable': this.loginForm.invalid}" [disabled]="this.loginForm.invalid" type="submit" value="LOG IN"><br>
            <span><a href="#">Forgot Password?</a></span>
        </form>
    </div>
</main>