<h2 mat-dialog-title>Modificar {{ this.producto.name}}</h2>

<form [formGroup]="this.productoForm" (ngSubmit)="this.modificarProducto()">

    <div mat-dialog-content>

        <mat-form-field appearance="outline" class="input-width-full">
            <mat-label>Producto</mat-label>
            <input matInput type="text" formControlName="name">
            <mat-error *ngIf="this.productoForm.controls.name.invalid">Campo Requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-width-full">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="category" (selectionChange)="this.cambiarAbarrotes()">
                <mat-option value="PASTELERIA">PASTELERIA</mat-option>
                <mat-option value="PANADERIA">PANADERIA</mat-option>
                <mat-option value="ABARROTES">ABARROTES</mat-option>
                <mat-option value="VERDURERIA">VERDURERIA</mat-option>
                <mat-option value="FIAMBRERIA">FIAMBRERIA</mat-option>
            </mat-select>
            <mat-error *ngIf="this.productoForm.controls.category.invalid">Campo Requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-width-full" *ngIf="this.abarrotes">
            <mat-label>Precio</mat-label>
            <input matInput type="number" formControlName="precio">
            <mat-error *ngIf="this.productoForm.controls.precio.invalid">Campo Requerido</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-width-full" *ngIf="!this.abarrotes">
            <mat-label>Kilo</mat-label>
            <input matInput type="number" formControlName="kilo">
            <mat-error *ngIf="this.productoForm.controls.kilo.invalid">Campo Requerido</mat-error>
        </mat-form-field>

    </div>

    <div mat-dialog-actions class="pull-right">
        <button mat-mini-fab color="warn" [matDialogClose]="false">
      <mat-icon>close</mat-icon>
    </button>
        <span class="separacion"></span>
        <button mat-mini-fab color="primary" [disabled]="this.productoForm.invalid">
      <mat-icon>check</mat-icon>
    </button>
    </div>

</form>
