<div class="container top-container">
  <mat-toolbar color="accent" class="spacer-between">
    <span>Cajas</span>
    <div>
      <button mat-icon-button (click)="this.crearCaja()">
        <mat-icon>add</mat-icon>
      </button>  
      <span class="separacion"></span>
      <button mat-icon-button (click)="this.obtenerCajas()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    
  </mat-toolbar>

  <div class="contenedor-cards">
    <mat-card *ngFor="let caja of this.cajas">
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>account_circle</mat-icon>
        </div>
        <mat-card-title>{{ caja.vendedor.nombre }}</mat-card-title>
        <mat-card-subtitle *ngIf="caja.estado == '0'">Abierta</mat-card-subtitle>
        <mat-card-subtitle *ngIf="caja.estado == '1'">Cerrada</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <span>Hora Apertura: {{ caja.apertura }}</span>
        <span>Monto Inicial: {{ caja.fondo | number }}</span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-mini-fab color="primary" (click)="this.detalleCaja(caja.id)">
          <mat-icon>list</mat-icon>
        </button>
        <div class="button-rigth">
          <button
            *ngIf="caja.estado == '0'"
            mat-mini-fab
            color="accent"
            title="Cerrar"
            (click)="this.actualizarEstado(caja.id, '1')">
            <mat-icon>close</mat-icon>
          </button>
          <button
            *ngIf="caja.estado == '1'"
            mat-mini-fab
            color="accent"
            title="Abrir"
            (click)="this.actualizarEstado(caja.id, '0')">
            <mat-icon>check</mat-icon>
          </button>
          <span class="separacion"></span>
          <button *ngIf="caja.estado == '1'" mat-mini-fab color="primary" title="Cuadrar" (click)="this.abrirDialogoCuadre(caja)">
            <mat-icon>calculate</mat-icon>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>


</div>
