mat-sidenav-container {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidebar {
    background: #2f323a;
    padding-top: 30px;
    width: 250px;
}

.center {
    text-align: center;
}

.profile_image {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar h4 {
    color: #fcf1da;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 900;
}

.sidebar a {
    color: #fcf1da;
    display: block;
    width: 100%;
    line-height: 40px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    font-size: 16px;
}

.sidebar a:hover,
.activated {
    background: #977b60;
}

.sidebar a i {
    padding-right: 10px;
}

.sidebar a span {
    margin-top: -30px;
}