<mat-sidenav-container>
    <mat-sidenav #menu class="sidebar" position="start" mode="side" [fixedInViewport]="false" [fixedTopGap]="0" [fixedBottomGap]="0" [opened]="false">
        <div class="center">
            <img class="profile_image" src="../../../../assets/layout/user.jpeg" alt="">
            <h4>{{ this.mainService.usuario[0].nombre | uppercase }}</h4>
        </div>

        <a routerLink="/layout/dashboard" routerLinkActive="activated" (click)="menu.toggle()">
            <i class="fa fa-desktop" aria-hidden="true"></i>
            <span>Dashboard</span>
        </a>
        <a routerLink="/layout/productos/buscador" routerLinkActive="activated" (click)="menu.toggle()">
            <i class="fa fa-desktop" aria-hidden="true"></i>
            <span>Productos</span>
        </a>
        <a routerLink="/layout/cajas" routerLinkActive="activated" (click)="menu.toggle()">
            <i class="fa fa-money" aria-hidden="true"></i>
            <span>Cajas</span>
        </a>
        <a routerLink="/layout/ventas" routerLinkActive="activated" (click)="menu.toggle()">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
            <span>Ventas</span>
        </a>
        <a routerLink="/layout/productos/barcodes" routerLinkActive="activated" (click)="menu.toggle()">
            <i class="fa fa-barcode" aria-hidden="true"></i>
            <span>Codigos</span>
        </a>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>
