@import '~@angular/material/theming';
@include mat-core();
$donRafael-brand: ( 50: #fff, 100: #fcf1da, 200: #f6c561, 300: #e38c4c, 400: #977b60, 500: #ff574c, contrast: ( 50: #2f323a, 100: #2f323a, 200: #fcf1da, 300: #fcf1da, 400: #fcf1da, 500: #fcf1da));
$donRafael-app-primary: mat-palette($donRafael-brand, 200);
$donRafael-app-accent: mat-palette($donRafael-brand, 400);
$donRafael-app-warn: mat-palette($donRafael-brand, 300);
$donRafael-app-alert: mat-palette($donRafael-brand, 500);
$donRafael-app-theme: mat-light-theme(( color: ( primary: $donRafael-app-primary, accent: $donRafael-app-accent, warn: $donRafael-app-warn, alert: $donRafael-app-alert)));
@include angular-material-theme($donRafael-app-theme);
html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

table {
    width: 100%;
}

.mat-typography h1.titulo, h1.titulo {
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: 900;
    color: #977b60;
    margin: 20px 0;
}

.top-container {
    margin-top: 30px;
}

span.separacion {
    margin-left: 5px;
}

.spacer {
    flex: 1 1 auto;
}

.spacer-between {
    display: flex;
    justify-content: space-between;
}

.spacer-around {
    display: flex;
    justify-content: space-around;
}

.spacer-end {
    display: flex;
    justify-content: flex-end;
}

.spacer-start {
    display: flex;
    justify-content: flex-start;
}

.spacer-center {
    display: flex;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.boton-buscar {
    height: 80px;
}

.input-width-full {
    width: 100%;
}

.input-width-half {
    width: 49%;
}

.input-width-quarter {
    width: 24%;
}

.input-width-third {
    width: 33%;
}

.contenedor-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-top: 20px;
    width: 100%;

    .mat-card {
        background-color: #fcf1da;
        width: 300px;
        margin: 5px;

        .mat-card-content {
            display: flex;
            flex-direction: column;
        }

        .mat-card-actions {
            display: flex;
            justify-content: space-between;

            .button-rigth {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}

.content-cuadre {
    display: flex;
    flex-direction: column;

    .header-cuadre {
        display: flex;
        justify-content: center;
    }

    .body-cuadre {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;

        .sistema-cuadre, .vendedor-cuadre {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-grow: 1;
            padding: 10px;
            
        }
    }

    .footer-cuadre {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;

        .total-cuadre {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;
            padding: 10px;
            text-align: center;
        }
    }
}

.titulo-cuadre {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    color: #977b60;
    text-align: center;
}

@media print {
    app-header {
        display: none;
    }
}
