<div mat-dialog-content>

  <div class="content-cuadre">
    <div class="header-cuadre">
      <h1 class="titulo">{{ this.caja.vendedor.nombre }}</h1>
    </div>
    <mat-divider></mat-divider>

    <div class="body-cuadre">
      <div class="sistema-cuadre">
        <span class="titulo-cuadre">SISTEMA</span>
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>add</mat-icon>
            <div mat-line>Monto Inicial</div>
            <div mat-line>{{ this.caja.fondo | number }}</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>add</mat-icon>
            <div mat-line>Ventas</div>
            <div mat-line>{{ this.cuadre.ventas | number }}</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>remove</mat-icon>
            <div mat-line>Salidas</div>
            <div mat-line>{{ this.cuadre.salidas | number }}</div>
          </mat-list-item>
        </mat-list>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="vendedor-cuadre">
        <span class="titulo-cuadre">VENDEDOR</span>
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>remove</mat-icon>
            <div mat-line>Monto Inicial</div>
            <div mat-line>{{ this.caja.fondo | number }}</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>add</mat-icon>
            <div mat-line>Remesas</div>
            <div mat-line>{{ this.cuadre.remesas | number }}</div>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>remove</mat-icon>
            <div mat-line>Salidas</div>
            <div mat-line>{{ this.cuadre.salidas | number }}</div>
          </mat-list-item>
        </mat-list>
      </div>     
    </div>

    <mat-divider></mat-divider>

    <div class="footer-cuadre">
      <div class="total-cuadre">
        <span class="titulo-cuadre">SISTEMA</span>
        <h1>{{ this.cuadre.sistema | number  }}</h1>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="total-cuadre">
        <span class="titulo-cuadre">VENDEDOR</span>
        <h1>{{ this.cuadre.vendedor | number  }}</h1>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="total-cuadre">
        <span class="titulo-cuadre">DIFERENCIA</span>
        <h1>{{ this.cuadre.diferencia | number }}</h1>
      </div>
    </div>
    
  </div>
  
</div>

<div mat-dialog-actions class="spacer-end">
  <button mat-mini-fab color="warn" [matDialogClose]="false">
    <mat-icon>close</mat-icon>
  </button>
  <span class="separacion"></span>
  <button mat-mini-fab color="primary" (click)="this.acutalizarCuadre()">
    <mat-icon>check</mat-icon>
  </button>
</div>
