<mat-toolbar color="accent" class="flex-container">
  <mat-toolbar-row>
    <h2>Ventas</h2>
  </mat-toolbar-row>
  <mat-toolbar-row>

    <form [formGroup]="this.busquedaForm" (ngSubmit)="this.buscarVentas()" class="input-width-full spacer-center">
      <mat-form-field appearance="outline" class="input-width-third">
        <mat-label>Desde</mat-label>
        <input matInput formControlName="desde" [matDatepicker]="desde"/>
        <mat-datepicker-toggle matSuffix [for]="desde"></mat-datepicker-toggle>
        <mat-datepicker #desde></mat-datepicker>
      </mat-form-field>

      <span class="separacion"></span>

      <mat-form-field appearance="outline" class="input-width-third">
        <mat-label>Hasta</mat-label>
        <input matInput formControlName="hasta" [matDatepicker]="hasta" />
        <mat-datepicker-toggle matSuffix [for]="hasta"></mat-datepicker-toggle>
        <mat-datepicker #hasta></mat-datepicker>
      </mat-form-field>

      <span class="separacion"></span>

      <div class="boton-buscar align-center">
        <button mat-mini-fab color="primary" type="submit" [disabled]="this.busquedaForm.invalid">
          <mat-icon>search</mat-icon>
        </button>
      </div>

      
    </form>



  </mat-toolbar-row>

</mat-toolbar>

<div class="container">

  <div *ngIf="this.total > 0" class="input-width-full spacer-center">
    <h1 class="titulo">TOTAL VENTA: {{ this.total | number }}</h1>
  </div>

  <table mat-table [dataSource]="this.dataSource" matSort>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
      <td mat-cell *matCellDef="let row">{{ row.fecha }}</td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let row">{{ row.total | number }}</td>
    </ng-container>

    <ng-container matColumnDef="dte">
      <th mat-header-cell *matHeaderCellDef>DTE</th>
      <td mat-cell *matCellDef="let row">{{ row.dte == 39 ? 'BOLETA ELECTRONICA':'TRANSBANK'}}</td>
    </ng-container>

    <ng-container matColumnDef="folio">
      <th mat-header-cell *matHeaderCellDef>Folio</th>
      <td mat-cell *matCellDef="let row">{{ row.folio }}</td>
    </ng-container>

    <ng-container matColumnDef="vendedor">
      <th mat-header-cell *matHeaderCellDef>Vendedor</th>
      <td mat-cell *matCellDef="let row">{{ row.caja.vendedor.nombre | uppercase }}</td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let row">
        <button mat-mini-fab color="accent" (click)="this.mostrarDetalleVenta(row.productos)">
          <mat-icon>list</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="this.columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: this.columnas"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[15, 30]"></mat-paginator>

</div>
